.btn-bd-primary{font-weight: 600;color: rgb(17, 17, 17);background-color: #84b414;border-color: #9bb92b;}
.btn-bd-primary:hover, .btn-bd-primary:active{color: rgb(223, 55, 55);background-color: #88b81a;border-color: #769b21;}
.btn-bd-primary:focus{box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);}